
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>

<!--connecting button with menu. -->

<mat-menu #menu>

  <button mat-menu-item routerLink="/">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>

  <button mat-menu-item routerLink="/">
    <mat-icon>edit</mat-icon>
    <span>Edit Requirements</span>
  </button>

  <button mat-menu-item routerLink="home">
    <mat-icon>home</mat-icon>
    <span>Go to Home page</span>
  </button>

  <button mat-menu-item routerLink="/">
    <mat-icon>filter alt</mat-icon>
    <span>Screening </span>
  </button>

  <button mat-menu-item routerLink="courses">
  <mat-icon>library_books</mat-icon>
  <span>Courses </span>
  </button>

<button mat-menu-item routerLink="/">
  <mat-icon>account_circle</mat-icon>
  <span>Login</span>
  </button>

<button mat-menu-item routerLink="/">
  <mat-icon>person_add</mat-icon>
  <span>Register</span>
  </button>


</mat-menu>